scripts/procmail-action.sh
scripts/functions.sh
scripts/wod.sh
scripts/reset-*.sh
scripts/create-*.sh
scripts/cleanup-*.sh
scripts/setup-*.sh
scripts/post-*.sh
sys/*.service
ansible/*/variables_*.yml
*.sw?
install/.vagrant/machines/*/libvirt/*
