scripts/procmail-action.sh
scripts/test-action.sh
scripts/functions.sh
scripts/cleanup-users.sh
scripts/cleanup-processes.sh
scripts/reset-*.sh
scripts/create-*.sh
scripts/setup-*.sh
scripts/post-*.sh
scripts/*.shc
scripts/*.x
scripts/*.x.c
scripts/*.sh.c
scripts/*.sh.x.c
jupyterhub.sqlite
ansible-jupyter/*/pass/variables_*.yml
ansible-jupyter/*/variables_*.yml
*/pass/variables_*.yml
*.sw?
