127.0.0.1 localhost localhost.localdomain
{{ JPIP }} {{ JPHOST }} {{ JPHOST.split('.')[0] }}  {{ JPHOSTEXT }} {{ JPHOSTEXT.split('.')[0] }}
{{ REDFISHILO }}
{{ HPEECPCTRL }}
{{ HPEECPGWIP }} {{ HPEECPGWNAME }}
{{ LDAPSRV }}
{{ OBMCSIMUIP }} {{ OBMCSIMUNAME }}
{{ ILOSIMUIP }} {{ ILOSIMUNAME }}
{{ OVVMSIMU1IP }}
{{ OVVMSIMU2IP }}
{{ HPEECPCTRLIP }} {{ HPEECPCTRLNAME }}
