127.0.0.1 localhost localhost.localdomain
{{ JPIP }} {{ JPHOST }} {{ JPHOST.split('.')[0] }}  {{ JPHOSTEXT }} {{ JPHOSTEXT.split('.')[0] }}
{{ REDFISHILO }}
{{ HPEECPCTRL1 }}
{{ HPEECPCTRL2 }}
{{ HPEECPGW1 }}
{{ HPEECPGW2 }}
{{ LDAPSRV }}
{{ OBMCSIMU }}
{{ ILOSIMU }}
{{ OVVMSIMU1IP }}
{{ OVVMSIMU2IP }}
