[Unit]
Description=JupyterHub service
After=syslog.target network.target

[Service]
User=root
WorkingDirectory={{ JPHUB }}/lib
Environment="PATH={{ JPHUB }}/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart={{ JPHUB }}/bin/python3 {{ JPHUB }}/bin/jupyterhub -f {{ JPHUB }}/etc/jupyterhub/jupyterhub_config.py

[Install]
WantedBy=multi-user.target
