[Unit]
Description=Killing mining and other processes service
After=syslog.target network.target

[Service]
User={{ WODUSER }}
ExecStart=/usr/local/bin/wod-kill-processes.pl

[Install]
WantedBy=multi-user.target
