#!/bin/bash

# Script to update template in dev users dirs

TEMPLATE=WKSHP-Template

source {{ SCRIPTDIR }}/wod.sh

for u in `grep /home /etc/passwd | grep -vE 'syslog|{{ WODUSER }}' | cut -d: -f1`; do
	rsync -av "{{ ansible_env.WODNOBO }}/$TEMPLATE" /home/$u
	chown $u:$u /home/$u/$TEMPLATE
done
