#!/bin/bash
# Cleanup remaining processes dateing more than 1 month

ids=`ps auxww | grep /jupyter | grep -vE '^{{ WODUSER }}|^root' | grep -E ' [JFMASOND][a-z][a-z][0-9][0-9] ' | awk '{ print $2 '}`
if [ _"$ids" != _"" ]; then
	sudo kill $ids
fi
