#!/bin/bash

set -x

export RTARGET={{ hostvars[inventory_hostname]['IP-WKSHP-ML101'] }}
NAME=mllab
TMPDIR=/tmp/$NAME.$stdid.ret

mkdir -p $TMPDIR
# Retrieve *.ipynb files to compute completion ratio
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'docker exec $NAME${stdid}_$NAME${stdid}_1 tar cf /tmp/ipynb.tar .\'
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'mkdir -p $TMPDIR\'
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'docker cp $NAME${stdid}_$NAME${stdid}_1:/tmp/ipynb.tar $TMPDIR\'
scp -q {{ NOCHECKSSH }} $RTARGET:$TMPDIR/ipynb.tar $TMPDIR
chmod 755 $TMPDIR
chmod 644 $TMPDIR/ipynb.tar
sudo su - student$stdid -c "cd /student/student$stdid/$w ; tar xf $TMPDIR/ipynb.tar"
exit 0
