#!/bin/bash

set -x

export RTARGET={{ hostvars[inventory_hostname]['IP-WKSHP-Dataspaces'] }}
export NAME=dataspaceslab
export TMPDIR=/tmp/$stidid/$NAME/$NAME.$stdid.ret

$JUPPROC/scripts/cleanup-container-ratio.sh
