#!/bin/bash

set -x

source {{ SCRIPTDIR }}/functions.sh

export RTARGET={{ hostvars[inventory_hostname]['IP-WKSHP-Ansible101'] }}
# Start by cleaning up stuff - do it early as after we setup .ssh content
{{ SCRIPTDIR }}/reset-$w.sh
{{ SCRIPTDIR }}/create-appliance.sh

NAME=dockerlab
TMPDIR=/tmp/$NAME.$stdid


mkdir -p $TMPDIR

# Define local variables
echo wid=$wid
APPMIN=`get_range_min $wid`
echo stdid=$stdid
echo APPMIN=$APPMIN

# Adapt the ssh config for the student
cat > $TMPDIR/config << EOF
Host *
    StrictHostKeyChecking no
EOF
sudo install -m 0600 -o student$stdid $TMPDIR/config /student/student$stdid/.ssh/


# Allow local ssh connection without passwd
# on last line ($) of file authorized_keys, read (r) id_rsa
sudo install -m 0600 -o student$stdid /student/student$stdid/.ssh/id_rsa.pub /student/student$stdid/.ssh/authorized_keys

# Cleanup
rm -rf $TMPDIR
