#!/bin/bash

# This script creates the OpenBMC simulator in the openbmcs VM
# associated to the student. 

KITPATH=/usr/kits
KITPATHVM=$KITPATH/VMs/OpenBMC
KITPATHRF=$KITPATH/RedfishMockupServer/Redfish-Mockup-Server
FWDPORTSSH=$((22000+$stdid))
FWDPORTHTTPS=$((44000+$stdid))
FWDPORTRF=$((45000+$stdid))

# Kill a potential qemu process remaining for ilo or openbmcsimulators
{{ SCRIPTDIR }}/reset-$w.sh

# Copy QEMU base images for this student
ssh {{ OBMCSIMUIP }} cp -a $KITPATHVM/flash-palmetto-ssh-student $KITPATHVM/student$stdid-Obmc.mtd

ssh {{ ILOSIMUIP }} cp -a $KITPATH/VMs/RedfishMockups/ilo5 $KITPATH/VMs/RedfishMockups/student$stdid-ilo5


# Start Obmc and ilo5 simulators
ssh {{ OBMCSIMUIP }} "nohup $KITPATHVM/qemu-system-arm -m 512 -M palmetto-bmc \
        -net nic,macaddr=C0:FF:EE:00:$stdid:01,model=ftgmac100      \
        -net user,id=netdev0,hostfwd=:{{ OBMCSIMUIP }}:${FWDPORTSSH}-:22,hostfwd=::${FORWARDPORTHTTPS}-:443,hostname=qemu-student$stdid \
        -drive file=$KITPATHVM/student$stdid-Obmc.mtd,format=raw,if=mtd     \
        -nographic > /dev/null 2>&1 &"

ssh {{ ILOSIMUIP }} "cd $KITPATHRF ; source ../bin/activate ; \
nohup python3 redfishMockupServer.py  \
    --ssl \
    --cert $KITPATH/VMs/RedfishMockups/FdzSelfSigned.pem  \
    --key  $KITPATH/VMs/RedfishMockups/FdzSelfSigned.pem  \
    --host {{ ILOSIMUIP }} --port ${FWDPORTRF} \
    -D $KITPATH/VMs/RedfishMockups/student$stdid-ilo5  > /dev/null 2>&1 &"
