#!/bin/bash

set -x

source {{ SCRIPTDIR }}/functions.sh

export RTARGET={{ hostvars[inventory_hostname]['IP-WKSHP-Concourse101'] }}
# Start by cleaning up stuff - do it early as after we setup .ssh content
{{ SCRIPTDIR }}/reset-$ws.sh
{{ SCRIPTDIR }}/create-appliance.sh

NAME=concourselab
TMPDIR=/tmp/$NAME.$stdid


mkdir -p $TMPDIR

# Define local variables
echo wid=$wid
APPMIN=`get_range_min $wid`
echo stdid=$stdid
echo APPMIN=$APPMIN
httpport=$(($stdid-$APPMIN+{{ hostvars[inventory_hostname]['HTTPPORT-WKSHP-Concourse101'] }}))

cat > $TMPDIR/docker-compose.yml << EOF
---
version: "3"

services:
  $NAME-db-$stdid:
    image: postgres
    environment:
      - POSTGRES_DB=concourse
      - POSTGRES_PASSWORD=$NAME${stdid}_pass
      - POSTGRES_USER=$NAME${stdid}_user
      - PGDATA=/database

  concourse:
    image: concourse/concourse:7.7.1-ubuntu
    command: quickstart
    privileged: true
    depends_on: [$NAME-db-$stdid]
    ports: ["$httpport:8080"]
    environment:
      - CONCOURSE_POSTGRES_HOST=$NAME${stdid}_$NAME-db-${stdid}_1
      - CONCOURSE_POSTGRES_USER=$NAME${stdid}_user
      - CONCOURSE_POSTGRES_PASSWORD=$NAME${stdid}_pass
      - CONCOURSE_POSTGRES_DATABASE=concourse
      - CONCOURSE_EXTERNAL_URL=http://$RTARGET:8080
      - CONCOURSE_ADD_LOCAL_USER=student$stdid:$randompw
      - CONCOURSE_MAIN_TEAM_LOCAL_USER=admin

EOF


cat > $TMPDIR/launch-$NAME << EOF
#!/bin/bash
cd $TMPDIR
docker-compose up -d

EOF

# Copy content and start container
ssh -q {{ NOCHECKSSH }} $RTARGET mkdir -p $TMPDIR
scp -q {{ NOCHECKSSH }} $TMPDIR/docker-compose.yml $TMPDIR/launch-$NAME $RTARGET:$TMPDIR
ssh -q {{ NOCHECKSSH }} $RTARGET chmod 644 $TMPDIR/docker-compose.yml $TMPDIR/launch-$NAME 
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'bash $TMPDIR/launch-$NAME\'

# ansible-vault to store it in the pass file creating a CONCOURSETOK ansible variable
if [ ! -d "{{ ANSIBLEPRIVDIR }}/{{ PBKDIR }}/pass" ]; then
	mkdir -p "{{ ANSIBLEPRIVDIR }}/{{ PBKDIR }}/pass"
fi
ansible-vault encrypt_string --vault-password-file "{{ ANSIBLEPRIVDIR }}/vault_secret" $httpport --name "'HTTPPORT'" >> "{{ ANSIBLEPRIVDIR }}/{{ PBKDIR }}/pass/variables_${w}_${stdid}.yml"

# Cleanup
#ssh -q {{ NOCHECKSSH }} $RTARGET sudo rm -rf $TMPDIR
rm -rf $TMPDIR

