#!/bin/bash

set -x

export RTARGET={{ hostvars[inventory_hostname]["IP-WKSHP-StackStorm101"] }}
{{ SCRIPTDIR }}/create-appliance.sh
ssh $RTARGET "echo $randompw | sudo htpasswd -i /etc/st2/htpasswd student$stdid"
