#!/bin/bash

# This script creates the OpenBMC simulator in the openbmcs VM
# associated to the student. 

KITPATH=/usr/kits/VMs/OpenBMC
FWDPORTSSH=$((22000+$stdid))
FWDPORTHTTPS=$((44000+$stdid))

# Kill a potential qemu process remaining
{{ SCRIPTDIR }}/reset-$w.sh

# Copy QEMU base image for this student
OBMCSRV=`echo {{ OBMCSIMU }} | awk '{ print $1 }'`
ssh $OBMCSRV cp -a $KITPATH/flash-palmetto-ssh-student $KITPATH/student$stdid-Obmc.mtd

# Start Obmc simulator
ssh $OBMCSRV "nohup $KITPATH/qemu-system-arm -m 512 -M palmetto-bmc \
        -net nic,macaddr=C0:FF:EE:00:$stdid:01,model=ftgmac100      \
        -net user,id=netdev0,hostfwd=:${OBMCSRV}:${FWDPORTSSH}-:22,hostfwd=::${FORWARDPORTHTTPS}-:443,hostname=qemu-student$stdid \
        -drive file=$KITPATH/student$stdid-Obmc.mtd,format=raw,if=mtd     \
        -nographic > /dev/null 2>&1 &"
