#!/bin/bash

set -x
source {{ SCRIPTDIR }}/functions.sh

# Creating Student users Api client
echo "Generating GreenLake Service Client API Token"
generate_greenlake_token 
sleep 5
echo "Creating Student GreenLake API Client"
create_student_api_client
