#!/bin/bash

source {{ SCRIPTDIR }}/wod.sh

# Git doesn't collect file rights and we need to have correct ones here so forcing
for d in {{ JUPPROC }}/skel  {{ JUPPRIV }}/skel; do
	cd $d
	find . -type f | xargs chmod 600
	chmod 700 .ssh
	chmod 644 .ssh/*.pub
done
#
cd {{ ANSIBLEDIR }}

ansible-playbook -i inventory --limit {{ PBKDIR }} check_jupyterhub.yml
if [ -f {{ ANSIBLEPRIVDIR }}/check_jupyterhub.yml ]; then
        ansible-playbook -i inventory $WODANOPT --limit {{ PBKDIR }} {{ ANSIBLEPRIVDIR }}/check_jupyterhub.yml
fi
