#!/bin/bash

source {{ SCRIPTDIR }}/wod.sh

# Git doesn't collect file rights and we need to have correct ones here so forcing
cd {{ JUPPROC }}/skel
find . -type f | xargs chmod 600
chmod 700 .ssh
chmod 644 .ssh/*.pub
#
cd {{ JUPPROC }}/ansible
ansible-playbook -i inventory --limit {{ PBKDIR }} ansible_check_jupyterhub.yml
