#!/bin/bash

source {{ SCRIPTDIR }}/wod.sh

# Git doesn't collect file rights and we need to have correct ones here so forcing
for d in {{ WODBEDIR }}/skel  {{ WODPRIVDIR }}/skel; do
	if [ -d $d ]; then
		cd $d
		find .ssh -type f | xargs chmod 600
		chmod 700 .ssh
		# Avoids error msgs
		touch .ssh/toto.pub
		find .ssh -type f -name '*.pub' | xargs chmod 644
		rm -f .ssh/toto.pub
		cd ..
	fi
done
#
cd {{ ANSIBLEDIR }}

ansible-playbook -i inventory --limit {{ PBKDIR }} -e "PBKDIR={{ PBKDIR }}" check_backend.yml
