#!/bin/sh
#
# If you have an OPNSense server, then warn it about fail2ban detection
{%if OPNSENSEKEis defined %}
KEY={{ OPNSENSEKEY }}
SECRET={{ OPNSENSESEC }}
FWIP={{ OPNSENSEIP }}
FWPORT={{ OPNSENSEPORT }}
ALIAS="Fail2ban"
if [ $1 = "ban" ]; then
	TODO="add"
elif [ $1 = "unban" ]; then
	TODO="delete"
fi
curl -X POST -d '{"address":"'$2'"}' -H "Content-Type: application/json" -k -u $KEY:$SECRET https://$FWIP:$FWPORT/api/firewall/alias_util/$TODO/$ALIAS
{% endif %}
