#!/bin/bash
#
# Functions called from other management scripts
#
# (c) Bruno Cornec <bruno.cornec@hpe.com>, Hewlett Packard Development
# (c) Frederic Passeron <frederic.passeron@hpe.com>, Hewlett Packard Development
#
# Released under the GPLv2 License
#
set -e
#set -x

# Manages private functions
if [ -f {{ SCRIPTPRIVDIR }}/functions.sh ]; then
        source {{ SCRIPTPRIVDIR }}/functions.sh
fi

# This function fetches an accessToken using user moderator credentials and open a session
get_session_token() {

	ret=`curl -s --location --request POST "$APIENDPOINT/login" \
			--header 'Content-Type: application/json' \
			--data "{\"username\":\"$APIUSER\",\"password\":\"$APIPWD\"}" | jq -r '.accessToken'`
        echo "$ret"
}


# This function returns the id number in the workshop DB when passed the workshop name
get_workshop_id() {

	id=0
	for i in `curl -s --header "x-access-token:$accessToken" --header "Content-Type: application/json" "$APIENDPOINT/workshops" | jq -r '.[].id'`; do
		name=`curl -s --header "x-access-token:$accessToken"  --header "Content-Type: application/json" "$APIENDPOINT/workshops/$i" | jq .notebook | sed 's/"//g'`
		if [ _"$name" = _"$1" ]; then
			id=$i
			break

		fi
	done
	if [ $id = 0 ]; then
		echo "Workshop ID not found remotely for $1"
		exit -1
	fi
	echo "$id"
}

# This function exits when the student id is not in the correct range
teststdid() {
	
	# We need to ensure that we've got a correct id as parameter if needed
	MIN={{ USERMIN }}
	MAX={{ USERMAX }}

	if [ $1 -lt $MIN ] ||  [ $1 -gt $MAX ]; then
                echo "Student id ($1) should be between $MIN and $MAX"
                exit -1
        fi
}

# This function returns the status of the reset boolean for the workshop id given as parameter
get_reset_status() {

	ret=`curl -s --header "x-access-token:$accessToken" --header "Content-Type: application/json" "$APIENDPOINT/workshops/$1" | jq -r '.reset'`
	echo "$ret"
}

# This function returns the status of the beta  boolean for the workshop id given as parameter
get_beta_status() {

        ret=`curl -s --header "x-access-token:$accessToken" --header "Content-Type: application/json" "$APIENDPOINT/workshops/$1" | jq -r '.beta'`
        echo "$ret"
}

# This function returns the status of the need of LDAP setup for the workshop id given as parameter
get_ldap_status() {

	ret=`curl -s --header "x-access-token:$accessToken" --header "Content-Type: application/json" "$APIENDPOINT/workshops/$1" | jq -r '.ldap'`
	echo "$ret"
}


# This function returns the status of the need of Var Pass setup for the workshop id given as parameter 
# it provides the PASSSTU variable through vault for the Notebook
get_varpass_status() {

	ret=`curl -s --header "x-access-token:$accessToken" --header "Content-Type: application/json" "$APIENDPOINT/workshops/$1" | jq -r '.varpass'`
	echo "$ret"
}

# This function returns the status of the need of compiled scripts for the workshop id given as parameter
get_compile_status() {

	ret=`curl -s --header "x-access-token:$accessToken" --header "Content-Type: application/json" "$APIENDPOINT/workshops/$1" | jq -r '.compile'`
	echo "$ret"
}

# This function returns the min of the range of the users booked for the workshop id given as parameter
get_range_min() {

	ret=`curl -s --header "x-access-token:$accessToken" --header "Content-Type: application/json" "$APIENDPOINT/workshops/$1" | jq -r '.range[0]'`
	echo "$ret"
}

# This function returns the max of the range of the users booked for the workshop id given as parameter
get_range_max() {

	ret=`curl -s --header "x-access-token:$accessToken" --header "Content-Type: application/json" "$APIENDPOINT/workshops/$1" | jq -r '.range[1]'`
	echo "$ret"
}

# This function updates the LDAP passwd with $randompw for the student under management (using $stdid)
update_ldap_passwd() {

	# define that variable to overload the student name (used by sec-student e.g.)
	if [ _"$LDAPSETUPUSER" = _"" ]; then
		LDAPSETUPUSER="student"
	fi
	rm -f /tmp/ldif.$$
	cat > /tmp/ldif.$$ << EOF

# modify user password
dn: uid=$LDAPSETUPUSER$stdid,ou=People,{{ LDAPDMN }}
changetype: modify
replace: userPassword
userPassword: $randompw
EOF
	ldapmodify -D "cn=Directory Manager" -w {{ LDAPPWD }} -p {{ LDAPPORT }} -h {{ LDAPSRV.split(' ')[1] }} -x -f /tmp/ldif.$$
	rm -f /tmp/ldif.$$
}

# This function creates a variable file in which password is stored from the ansible playbook with $randompw
create_var_passwd() {
  
	if [ ! -d "{{ JUPPROC }}/ansible/{{ PBKDIR }}/pass" ]; then
		mkdir -p "{{ JUPPROC }}/ansible/{{ PBKDIR }}/pass"
	fi
	ansible-vault encrypt_string --vault-password-file "{{ JUPPROC }}/ansible/vault_secret" $randompw --name "'PASSSTU'" > "{{ JUPPROC }}/ansible/{{ PBKDIR }}/pass/variables_${w}_${stdid}.yml"
}

# This function retuns the workshop name from the mail body
get_workshop_name() {

	read w
	if [ ! -n "$w" ]; then
		echo "Missing workshop name in the e-mail body"
		exit -1
	fi
    ws=`echo $w |sed 's/CHLG/WKSHP/'`
	if [ ! -d "$JUPNOBO/$ws" ]; then
		echo "Non-existant workshop $ws"
		exit -1
	fi
	echo "$w"
}

erase_student() {

	if [ _"$stddir" != _"" ]; then
		echo "Erasing target student dir $stddir content"
		sudo rm -rf $stddir/* $stddir/.??*
		sudo cp -a {{ JUPPROC }}/skel/.??* $stddir
		sudo chown -R student${stdid}:student${stdid} $stddir/.??*
		echo "Create ssh keys to allow remote connections to appliance if needed"
		sudo su - student${stdid} -c "ssh-keygen -b 2048 -t rsa -f .ssh/id_rsa -N ''"
	fi
}

# This function creates a random password for a user, it is used for local and ldap users'passwords.
generate_randompwd() {

	if [ _"$RANDOMPW" != _"" ]; then
		export randompw=$RANDOMPW
	else
		export randompw=$(cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 8 | head -n 1)
	fi
	echo "student$stdid:$randompw" | sudo chpasswd
}


# This function calculates a completion ratio at the end of a  workshop-on-demand.
get_wod_completion_ratio() {

	cd $stddir/
	when=$(date +"%Y-%m-%d %H:%m:%S")
	what=$(ls | grep 'WKSHP')
	who=student$stdid
	total=$(grep execution_count $what/*.ipynb  | wc -l)
	missed=$(grep execution_count $what/*.ipynb  | grep null | wc -l)
	done=$((total-missed))
	completion=$((done*100/total))
	#echo "date:$when,user:$who,workshop:$what,completion:$completion%"
	echo "$completion"
}


# Cleanup remaining processes for that student after the run
cleanup_processes_student() {
	ids=`ps auxww | grep /student$stdid | grep -v grep | awk '{ print $2 }'`
	if [ _"$ids" != _"" ]; then
		sudo kill $ids
	fi
}
