#!/bin/bash

##########################################
#  frederic passeron from yann allandit 's work
##########################################

#################################
#### Instructions
# This file will generate a connection token from demo.cloudvolumes.hpe.com. 
# Then update your HPE Cloud Volumes credentiales stores in /tmp/cvuser and  /tmp/cvpwd
#################################


#### Variables
cvpwd='Pattahp*2021***/'
cvuser='frederic.passeron@hpe.com'
tokenlength=1

while [ $tokenlength -le 11 ]
do
  token=`curl -s --location --request POST 'https://demo.cloudvolumes.hpe.com/auth/login' \
  --header 'Content-Type: application/json' \
  --data '{
      "email": "'$cvuser'",
      "password": "'$cvpwd'"
  }' | jq -r .token`

  tokenlength=`echo ${{ '{#' }}token}`
  sleep 1
done

echo $token

exit 0
