#!/bin/bash

set -x

if [_"$stdid" = _"" ]; then
	echo "Undefined stdid variable please provide it"
	exit -1
fi

# push student content into approprate git repo/branch
mkdir -p $HOME/repo
cd $HOME/repo
rm -rf HPEECPGPU.$stdid HPEECPSC.$stdid
git clone git@github.com:sdcgsolutionslab/HPEECPGPU.git HPEECPGPU.$stdid
cd HPEECPGPU.$stdid
git checkout student$stdid
ret=$?
if [ $ret -ne 0 ]; then
	# branch doesn't exist
	git checkout -b student$stdid
fi
cd HPEECPGPU.$stdid
sudo cp {{ STUDDIR }}/student$stdid/$w/Code/NYCTaxi/* .
git add *
git commit -m 'update values'
if [ $ret -eq 0 ]; then
	git push
else
	git push --set-upstream origin student$stdid
fi
