#!/bin/bash
#
# Script to be called from procmail to create student setup
# Expect mapping as parameters and workshop list on standard input
#
# (c) Bruno Cornec <bruno.cornec@hpe.com>, Hewlett Packard Development
# (c) Frederic Passeron <frederic.passeron@hpe.com>, Hewlett Packard Development
#
# Released under the GPLv2 License
#
set -e
set -x

source {{ SCRIPTDIR }}/functions.sh
#
# Main part
#
# Variables declaration
#

# endpoint variable - Has to be global
APIENDPOINT={{ APIENDPOINT }}
PBKDIR={{ PBKDIR }}

# Main of script
action=$1
echo "we are working on "$action
if [ _"$1" = _"" ]; then
	echo "Syntax: procmail-action.sh <CREATE||RESET> <student id> <user id>"
	echo "ACTION is mandatory"
	exit -1
fi
shift

# Check action
if [ $action != "CREATE" ]  && [ $action != "CLEANUP" ]  && [ $action != "RESET" ]; then
	echo "Syntax: procmail-action.sh <CREATE|CLEANUP|RESET> <student id> [<user id>]"
	echo "A correct ACTION is mandatory"
	exit -1
fi

export stdid=$1
if [ _"$1" = _"" ]; then
	echo "Syntax: procmail-action.sh <CREATE|CLEANUP|RESET> <student id> [<user id>]"
	echo "Student Username id is mandatory"
	exit -1
fi
shift

# We need to ensure that we've got a correct id as parameter if needed
MIN={{ USERMIN }}
MAX={{ USERMAX }}

if [ $stdid -lt $MIN ] ||  [ $stdid -gt $MAX ]; then
	echo "Student id ($stdid) should be between $MIN and $MAX"
	exit -1
fi

export stddir="{{ STDDIR }}/student$stdid"
JUPPROC=$HOME/jupyter-procmail
std0="$HOME/student0"
w=`get_workshop_name`
# If that doesn't fail, then export the workshop name
export w
id=`get_workshop_id $w`

# Handle CREATE and CLEANUP first
if [ $action != "RESET" ]; then
	userid=$1
	if [ _"$1" = _"" ]; then
		echo "Syntax: procmail-action.sh <CREATE|CLEANUP> <student id> <user id>"
		echo "Customer id is mandatory"
		exit -1
	fi

	cd $std0

	# Read workshop list on stdin
	if [ -d "$stddir" ]; then
		# Now change passwd
		generate_randompwd

		# Some Notebooks need an LDAP passwd update as well
		if [ _"`get_ldap_status $id`" != _"false" ]; then
			update_ldap_passwd
			create_var_passwd
		fi

		if [ "$action" = "CREATE" ]; then
			erase_student
			compile=`get_compile_status $id`
			if [ _"$compile" = _"null" ]; then
                                compile=""
                        fi
			if [ _"$compile" != _"" ]; then
				ansible-playbook $JUPPROC/ansible-jupyter/ansible_compile_scripts.yml -i $JUPPROC/ansible-jupyter/inventory --limit {{ PBKDIR }} -e "STDID=$stdid COMPILE=\"$compile\""
			fi
			if [ -x "$JUPPROC/scripts/create-$w.sh" ]; then
				echo "Setup workshop $w Backend"
				$JUPPROC/scripts/create-$w.sh
			fi
			echo "Copying workshop $w content into target student dir $stddir"
			ansible-playbook $JUPPROC/ansible-jupyter/ansible_copy_folder.yml -i $JUPPROC/ansible-jupyter/inventory --limit {{ PBKDIR }} -e "DIR=  WORKSHOP=$w STDID=$stdid" --vault-password-file $JUPPROC/ansible-jupyter/vault_secret
		fi

		# Increment the student ID by Number of jupyter students in students table
    		# Only for API Calls 
		dbstdid=$((stdid+{{ BASESTDID }}))

		# Instead do 2 API calls here, one for passwd change, one for status change
		##Update Password
		curl -H 'Authorization: Bearer {{ TEMPTOKEN }}' --header "Content-Type: application/json" \
  			--request PUT \
  			--data '{"password":"'$randompw'"}' \
  			"$APIENDPOINT/student/$dbstdid"

		if [ "$action" = "CREATE" ]; then
			##Update customer status to active
			curl -H 'Authorization: Bearer {{ TEMPTOKEN }}' --header "Content-Type: application/json" \
  				--request PUT \
  				--data '{"active": "true"}' \
  				"$APIENDPOINT/customer/$userid"
			##Start Student jupyterhub dedicated server
			#curl --header "Content-Type: application/json" \
			#	--header "Authorization: token {{ JPHUBTOKEN }}" \
                        #        --location \
                        #        --request POST \
			#	--data-raw '{}' \
                        #        "{{ JPHUBAPISRV }}/hub/api/users/student$stdid/server"

		elif [ "$action" = "CLEANUP" ]; then
			#Delete Student jupyterhub dedicated server
			curl --header "Authorization: token {{ JPHUBTOKEN }}" \
                                --location \
				--request DELETE \
                                "{{ JPHUBAPISRV }}/hub/api/users/student$stdid/server" 
			#Get Worshop reset status to determine if users should be updated to inactive or not
			if [ _"`get_reset_status $id`" = _"false" ]; then
				##Update student status to inactive
				curl -H 'Authorization: Bearer {{ TEMPTOKEN }}' --header "Content-Type: application/json" \
  					--request PUT \
  					--data '{"assigned":"false"}' \
  					"$APIENDPOINT/student/$dbstdid"
				# Possible to clean dirs because no RESET so no file needed in that dir
				erase_student
			else
				curl -H 'Authorization: Bearer {{ TEMPTOKEN }}' --header "Content-Type: application/json" \
  					--request PUT \
  					--data '{"assigned":"true"}' \
  					"$APIENDPOINT/student/$dbstdid"
	 			# set customer  to inactive by default for all workshops
        			curl -H 'Authorization: Bearer {{ TEMPTOKEN }}' --header "Content-Type: application/json" \
  					--request PUT \
  					--data '{"active": "false"}' \
  					"$APIENDPOINT/customer/$userid"
			fi
		else
			echo "Unknown action $action"
		fi
	fi

elif [ "$action" = "RESET" ]; then
	# Avoid concurrency with CLEANUP phase
	sleep 10
	if [ _"`get_reset_status $id`" = _"true" ]; then
		if [ $(echo $stdid | grep -c ',') -ne 0 ]; then
			# We have a range to manage
			min=`echo $stdid | cut -d, -f1`
			max=`echo $stdid | cut -d, -f2`
			min=$((min+{{ BASESTDID }}))
			max=$((max+{{ BASESTDID }}))
			i=$max
			j=$max
			cap=$((max-min+1))

			# API call to Now reset capacity to original value
	        	curl -H 'Authorization: Bearer {{ TEMPTOKEN }}' --header "Content-Type: application/json" \
  				--request PUT \
  				--data '{"capacity":"'$cap'"}' \
  				"$APIENDPOINT/workshop/$id"
		else
			# We have a single value to manage
			i=$((stdid+{{ BASESTDID }}))
			j=$((stdid+{{ BASESTDID }}))
			min=$((stdid+{{ BASESTDID }}))
		fi

		while [ $i -ge $min ]; do
			# Then call the reset script
			# Now change passwd as sometimes the reset script needs to have it
			stdid=$((i-{{ BASESTDID }}))
			generate_randompwd
	
			# Some Notebooks need an LDAP passwd update as well
			if [ _"`get_ldap_status $id`" != _"false" ]; then
				update_ldap_passwd
			fi
			((i=i-1))
		done

		# Get Workshop backend reset status
		if [ ! -x "$JUPPROC/scripts/reset-$w.sh" ]; then
			echo "Unable to reset backend for workshop $w, no script available"
			exit -1
		else
        		echo "Reseting workshop $w Backend"
			$JUPPROC/scripts/reset-$w.sh
		fi

		while [ $j -ge $min ]; do
			# API call
			# Update customer status to inactive
			curl -H 'Authorization: Bearer {{ TEMPTOKEN }}' --header "Content-Type: application/json" \
  				--request PUT \
  				--data '{"assigned":"false"}' \
  				"$APIENDPOINT/student/$j"
			stdid=$((j-{{ BASESTDID }}))
			stddir="/student/student$stdid"
			erase_student
			((j=j-1))
		done
	fi

else
	echo "Unknown action $action"
fi
echo "end of procmail-action for student $stdid with workshop $w with action $action at `date`"
