#!/bin/bash
#
# Script to be create a vm for a student for a  certain workshop
#
# (c) Bruno Cornec <bruno.cornec@hpe.com>, Hewlett Packard Development
# (c) Frederic Passeron <frederic.passeron@hpe.com>, Hewlett Packard Development
# (c) Mathieu Losmede <mathieu.losmede@hpe.com> Hewlett Packard Development
# Released under the GPLv2 License
#
#
#set -x





# delete resources on determined AI cluster




