#!/bin/bash

set -x

### copy ssh keys on the Appliance server
if [ _"$RTARGET" = _"" ]; then
	echo "RTARGET is not defined. Aborting..."
	exit -1
fi
HOMEDIR=`ssh $RTARGET getent passwd student$stdid | cut -d: -f6`
if [ _"$HOMEDIR" != _"" ]; then
	ssh -q $RTARGET sudo rm -rf $HOMEDIR/.ssh
	[ -z ${LDAPSETUP+x} ] && ssh -q $RTARGET "echo student$stdid:$randompw | sudo chpasswd"
	EXITVAL=0
else
	echo "student$stdid doesn't exist on the appliance $RTARGET for workshop $w"
	EXITVAL=-1
fi

## check staging or prod
exit $EXITVAL
