#!/bin/bash

set -x

export RTARGET={{ hostvars[inventory_hostname]["IP-WKSHP-StackStorm101"] }}
{{ SCRIPTDIR }}/reset-appliance.sh

# That Workshop also needs another passwd reset
ssh $RTARGET "echo $randompw | sudo htpasswd -i /etc/st2/htpasswd student$stdid"
