#!/bin/bash

set -x

echo " This script resets the Managing HPE Cloud Volumes through API calls Workshop content for: student$stdid"
cd /student/student$stdid

# we will use cloud_vol-$stdid-*
CloudVolumeID=cloud_vol-$stdid
echo "The Student cloudvolume id is ${CloudVolumeID}"




## Get token to authentificate to cloud Volume API
if [ -x "./get-cloudvol-token.shc.x" ]; then
	TOKEN=`./get-cloudvol-token.shc.x`
	echo ${TOKEN}
else
	echo "Unable to find get-cloudvol-token.shc.x under /student/student$stdid/$w"
	echo "Please cleanup account manually"
	exit -1
fi

## Authenticate Now using the token
Authentification_log=`curl -s --location --request GET 'https://demo.cloudvolumes.hpe.com/api/v2/session' \
--header "X-Auth-Token: ${TOKEN}" \
--header 'Content-Type: application/json'`

echo " $Authentification_log "

initiator_ip=$(curl -s --location --request GET 'https://demo.cloudvolumes.hpe.com/api/v2/initiators' \
--header "X-Auth-Token: ${TOKEN}" \
--data-raw '' |  jq -r '. | .[] | .[] | .attributes.ip' )
echo " your initiator IP is ${initiator_ip}"

volume_id_list=$(curl -s --location --request GET "https://demo.cloudvolumes.hpe.com/api/v2/cloud_volumes" \
--header 'Content-Type: application/json' \
--header "X-Auth-Token: ${TOKEN}" \
--data-raw ''   | jq -r '. | .[] | .[] | .id')
echo ${volume_id_list}
for i in ${volume_id_list}
do
  echo ${i}
    if [ $i -ne 8345 ]; then
    echo "Detaching Volume Now"
    curl -s --location --request POST "https://demo.cloudvolumes.hpe.com/api/v2/cloud_volumes/$i/detach" \
      --header 'Content-Type: application/json' \
      --header "X-Auth-Token: ${TOKEN}" \
      --data-raw '{
        "data":  {
        "initiator_ip": "'${initiator_ip}'"
          }
        }'
    echo "Deleting Volume Now"
    curl -s --location --request DELETE "https://demo.cloudvolumes.hpe.com/api/v2/cloud_volumes/$i?force=true" \
     --header "X-auth-Token: ${TOKEN}" \
     --header 'Content-Type: application/json'
    fi
done
echo "reset done- check cloudvolume portal"

##Close the login session
echo "logging out"
