#!/bin/bash

set -x

export RTARGET={{ hostvars[inventory_hostname]['IP-WKSHP-Ansible101'] }}
{{ SCRIPTDIR }}/reset-appliance.sh

# Cleanup
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'rm -rf {{ STUDDIR }}/student$stdid/.??* {{ STUDDIR }}/student$stdid/*\'

exit 0
