#!/bin/bash

# This script kills the OpenBMC and iLO 5 simulators in the corresponding VM
# associated to the student. 

# Kill a potential qemu process remaining
ssh {{ NOCHECKSSH }} {{ OBMCSIMUACC }}@{{ OBMCSIMUIP }} pkill -f qemu-student$stdid
ssh {{ NOCHECKSSH }} {{ ILOSIMUACC }}@{{ ILOSIMUIP }} pkill -f student$stdid-ilo5
ssh {{ NOCHECKSSH }} {{ ILOSIMUACC }}@{{ ILOSIMUIP }} pkill -f student$stdid-ilo5-Sy480
# do not remove so callers are happy whatever upper result
exit 0
