#!/bin/bash

set -x

export RTARGET={{ hostvars[inventory_hostname]['IP-WKSHP-ML101'] }}
{{ SCRIPTDIR }}/reset-appliance.sh

NAME=mllab
TMPDIR=/tmp/$NAME.$stdid

# Stop/Remove existing content first - these commands could fail so protect with true from set -e
mkdir -p $TMPDIR
cat > $TMPDIR/stop-compose << EOF
cd $TMPDIR
docker-compose down
EOF

chmod 755 $TMPDIR/stop-compose
ssh -q {{ NOCHECKSSH }} $RTARGET mkdir -p $TMPDIR
scp -q {{ NOCHECKSSH }} $TMPDIR/stop-compose $RTARGET:$TMPDIR
ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'$TMPDIR/stop-compose\' && /bin/true
ssh -q {{ NOCHECKSSH }} $RTARGET sudo rm -rf $TMPDIR
exit 0


# Stop/Remove existing content first - these commands could fail so protect with true from set -e
# ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'docker stop $NAME${stdid}_$NAME${stdid}_1\' && /bin/true
# ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'docker rm $NAME${stdid}_$NAME${stdid}_1\' && /bin/true
# ssh -q {{ NOCHECKSSH }} $RTARGET sudo su - student$stdid -c \'docker rmi $NAME$stdid\' && /bin/true
# exit 0
