#!/bin/bash

# This script kills the OpenBMC and iLO 5 simulators in the corresponding VMs
# associated to the student. It removes as well the associated Redfish mockups if any.

# Version 0.31

KITPATH=/usr/kits
KITPATHMOCKUPS=$KITPATH/VMs/RedfishMockups
SSHOBMC="ssh {{ NOCHECKSSH }} {{ OBMCSIMUACC }}@{{ OBMCSIMUIP }}"
SSHMOCKUPS="ssh {{ NOCHECKSSH }} {{ OBMCSIMUACC }}@{{ ILOSIMUIP }}"
FWDPORTRMCGUI=$(({{ RMCGUIBASEPORT }}+$stdid))

echo "stdid: $stdid"
# Kill a potential qemu/iLO/RMC simulators processes remaining
$SSHOBMC     pkill -f qemu-student$stdid
$SSHMOCKUPS  pkill -f student$stdid-ilo5
$SSHMOCKUPS  pkill -f student$stdid-ilo5-Sy480
$SSHMOCKUPS  pkill -f student$stdid-rmc

# Remove/cleanup Redfish mockups.
# This is needed to make sure new Mockups are effectively deployed 
# during the next student infra instanciation.
$SSHMOCKUPS "[ -d $KITPATHMOCKUPS/student$stdid-ilo5-Sy480 ]" && \
   $SSHMOCKUPS "rm -r $KITPATHMOCKUPS/student$stdid-ilo5-Sy480"

$SSHMOCKUPS "[ -d $KITPATHMOCKUPS/student$stdid-ilo5 ]" && \
    $SSHMOCKUPS "rm -r $KITPATHMOCKUPS/student$stdid-ilo5"

$SSHMOCKUPS "[ -d $KITPATHMOCKUPS/student$stdid-rmc ]" && \
    $SSHMOCKUPS "rm -r $KITPATHMOCKUPS/student$stdid-rmc"

# do not remove so callers are happy whatever upper result
exit 0
