#!/bin/bash

# This script kills the OpenBMC simulator in the openbmcs VM
# associated to the student. 

# Kill a potential qemu process remaining
ssh {{ OBMCSIMUNAME }} pkill -f qemu-student$stdid
ssh {{ ILOSIMUNAME }} pkill -f student$stdid-ilo5
