#!/bin/bash

#set -x

echo "Use ansible to setup generic remote appliance at $RTARGET"
ansible-playbook $JUPPROC/ansible-jupyter/ansible_setup_base_appliance.yml -i $RTARGET, -e "RTARGET=$RTARGET WORKSHOP=$w APPMIN=$APPMIN APPMAX=$APPMAX"
if [ -f "$JUPPROC/ansible-jupyter/ansible_setup_${w}_appliance.yml" ]; then
	echo "Use ansible to setup specificities for $w on remote appliance $RTARGET"
	ansible-playbook $JUPPROC/ansible-jupyter/ansible_setup_${w}_appliance.yml -i $RTARGET, -e "RTARGET=$RTARGET WORKSHOP=$w APPMIN=$APPMIN APPMAX=$APPMAX"
fi

echo "Final script setup phase for $w on remote appliance $RTARGET"
exit 0
