#!/bin/bash

#set -x

echo "Prepare the CCPE appliance"

NAME=ccpelab

mkdir -p $HOME/$NAME
cd $HOME/$NAME

cat > script << EOF
yum install -y perl openssh openssh-server sudo curl epel-release
EOF

chmod 755 script
sudo ./script

# We assume that the appliance already has the CCPE docker image installed
