#!/bin/bash

#set -x

echo "Prepare the CCPE container image"

NAME=ccpelab

mkdir -p $HOME/$NAME
cd $HOME/$NAME

# Create ssh host keys
cat > ssh_host_rsa_key << EOF
-----BEGIN RSA PRIVATE KEY-----
MIIEpQIBAAKCAQEAt7sQfbOgYPQZfxow04e448dDF2d1ltdHqPmwqw5PWzE0ixMd
k8/j46iK9wYexVS7t3MFYn7Yewi7MGV7L0Q50/3lfvkVI63+5lypynslHXXrnzT4
IM+3M/UWzUcXGe4G7dLN3Roiqd/J1nmzBa7Y5cxooEOQRVd1dm0b+neJdjHAkw8o
/xiHxsCQ8m07CzvcPJFXhS/KCbvKiJyjYy9AYYJN9wU6Iemx3UXyRmny94L6oXN6
hComqBPougNnzJqYJ54JZTKQ7oV1c8kecMj6Qs3ftlyRgHDprzUiHYsRHnnDCs8O
Ij8YaH2+z4stNirlk+DAptpSfdqudZyzmPQbGwIDAQABAoIBAQCzXlfaMDwZixU9
JeeXC0Bwdz9DoQiGi4N1LtbQGHdWsvH1+GJ+xI1Z21hXk00FHxToIs2V+/oCG2ML
+3bIjVXbZVrgm/GMVLiuUraca56vZUjzs/WtqrvTaKmrHIUsFloDYjMCcRp4N3dI
AKXKnYk4x1c5Ztx5JcoSJLEU1BCKJp34A5ObJYlELenB8OxNp+yp+S7stNl3kcY2
jVMCUGTb5Fdj/M7NRQzrcQPsr1zV7T978xd2q8hUHL1GW/5pbtw1tTTAHREBYY4n
j+OhCjuDl+0xkWWsLWXAcy4hYxRL+l3DUEtXJwUVg+jTpfVoosHu0dhkp4lZ4OwG
VgeIfrvRAoGBAOaG4bx5MspaDISxY8ZxL1xq6DAhdJGQxtIuSbsL2fT17MBsIPD1
VJ5/scFt16cE9gjRzWA3SYCPt8S65XnPAup7s5Vcna/56NmOho1pa8JvHSxJVJ4I
e9Y5RKV/J0kAbEsxJjx0icYhWMsYY4sfQHrERxzYE/KiI+JDPYgLoU+DAoGBAMwI
awsx++OMkGXE6ths0YhSaV4Jyh7Nnfkhupmhl/c43D6oZlNF2K7WdYIbeF3sc9HI
6qIoV3ng4hhG1EG2t+bCGtFaGTaqy6w8ZdDzuAbddZml9ST+NHSCl2fxOsJAXTiL
crA5C1FnTEQtVrkQ4p7iU5w4LrahXyPXfRJPedqJAoGAXyfWDiJJINXCzRMcCFG4
JwHKDfQBVgTYzPFmZdsigMbyjwsTHeNmpnY3PYzFs5+Mn19a0xh/Mp4gUQiEqJ8W
qQueuUydmoIh54u5Zq3ZWUzcUeeDEiiWVXsWJuoxoSSXjwIesl24cRxatpq+nDKu
Pv6+C931ffYHseHniDykvVkCgYEAlmw6ZwWR3IBcUPtt3OPVUvjXQAJdpnoXVn5c
cTmmrRiZoARNdGVRTA1Gkwanpi9WcDr9aVHutCds6VMG1+/bA2DlnqUbY6dmA3R/
6B5W9ZC+S+oDoyNbDu7cq0A4/s+vKqn8gxl7U6ehnb4Dauuc+GCKHel53yF34BfV
2PMJNmkCgYEA430Hxpsevs3M0nfMyZtUruq6nJMXu2iYuS0Jc2hWNI5IVW56mA4+
Rq54Q7JBHoSSkuOQZUfZIeCsEYQN2BnkK3GVUseWywJNC4duKjHqV9ooDkDsPiKp
NLEmDS+xcgBF+6VXWgccF7UcODg5jG7LKSWaZ1BV85m7stT5MB8C8og=
-----END RSA PRIVATE KEY-----
EOF

cat > ssh_host_rsa_key.pub << EOF
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3uxB9s6Bg9Bl/GjDTh7jjx0MXZ3WW10eo+bCrDk9bMTSLEx2Tz+PjqIr3Bh7FVLu3cwVifth7CLswZXsvRDnT/eV++RUjrf7mXKnKeyUddeufNPggz7cz9RbNRxcZ7gbt0s3dGiKp38nWebMFrtjlzGigQ5BFV3V2bRv6d4l2McCTDyj/GIfGwJDybTsLO9w8kVeFL8oJu8qInKNjL0Bhgk33BToh6bHdRfJGafL3gvqhc3qEKiaoE+i6A2fMmpgnngllMpDuhXVzyR5wyPpCzd+2XJGAcOmvNSIdixEeecMKzw4iPxhofb7Piy02KuWT4MCm2lJ92q51nLOY9Bsb 
EOF

cat > ssh_host_ecdsa_key << EOF
----BEGIN EC PRIVATE KEY-----
MHcCAQEEICQCR5RfTV5NiKOxzkw7dV291dnDLFkLi5qtx+4mmFZ6oAoGCCqGSM49
AwEHoUQDQgAEXXekrMJ5hd9A8PHphyuL6p/jdsaqY40AwN8ID6J2f1ucSQJLFGaC
C5LldOhloI4T6ZDLlbK+QiOW5cGeKyHuMQ==
-----END EC PRIVATE KEY-----
EOF

cat > ssh_host_ecdsa_key.pub << EOF
ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBF13pKzCeYXfQPDx6Ycri+qf43bGqmONAMDfCA+idn9bnEkCSxRmgguS5XToZaCOE+mQy5WyvkIjluXBnish7jE=
EOF

cat > ssh_host_ed25519_key << EOF
-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACDET3KO5E/GtCtK1ihmRDBT5/JGxOr2H2EsmjiPAAgfPQAAAIiWSNPylkjT
8gAAAAtzc2gtZWQyNTUxOQAAACDET3KO5E/GtCtK1ihmRDBT5/JGxOr2H2EsmjiPAAgfPQ
AAAECuTbH+uKvwfUxhgTSsv6npsaYZalMy/Rv2BrXzZ1/1R8RPco7kT8a0K0rWKGZEMFPn
8kbE6vYfYSyaOI8ACB89AAAAAAECAwQF
-----END OPENSSH PRIVATE KEY-----
EOF

cat > ssh_host_ed25519_key.pub << EOF
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMRPco7kT8a0K0rWKGZEMFPn8kbE6vYfYSyaOI8ACB89
EOF

# See https://hub.docker.com/repository/docker/cray/hpe_cpe_lab
DCKBASE="docker.io/cray/hpe_cpe_lab:1.5"
#docker login -u hpedevhackshack -p 'hpedevhacksh@ckdockerhub2021***/'
#docker pull $DCKBASE

cat > Dockerfile << EOF
FROM $DCKBASE
USER root
COPY docker.repo /etc/zypp/repos.d/docker.repo
RUN perl -pi -e 's|enabled=1|enabled=0|' /etc/zypp/repos.d/*.repo
RUN zypper ar http://download.opensuse.org/tumbleweed/repo/oss opensuse
RUN zypper addrepo https://download.opensuse.org/repositories/Virtualization:containers/SLE_15_SP1/Virtualization:containers.repo
RUN zypper --gpg-auto-import-keys refresh
RUN zypper install -y perl curl
RUN zypper install -y docker-compose docker-ce
COPY ssh_host_rsa_key /etc/ssh/ssh_host_rsa_key
COPY ssh_host_rsa_key.pub /etc/ssh/ssh_host_rsa_key.pub
COPY ssh_host_ecdsa_key /etc/ssh/ssh_host_ecdsa_key
COPY ssh_host_ecdsa_key.pub /etc/ssh/ssh_host_ecdsa_key.pub
COPY ssh_host_ed25519_key /etc/ssh/ssh_host_ed25519_key
COPY ssh_host_ed25519_key.pub /etc/ssh/ssh_host_ed25519_key.pub
RUN chmod 600 /etc/ssh/ssh_host_*
EOF

# Clean before
docker container prune -f
docker image prune -f
docker rmi ${NAME}:latest
docker build -t $NAME .
