#!/bin/bash

#set -x

source {{ SCRIPTDIR }}/functions.sh

# Do we need LDAP setup or not
if [ _"`get_ldap_status $wid`" != _"false" ]; then
	echo "This is a setup with LDAP"
	LDAPSETUP=1
else
	LDAPSETUP=0
fi

echo "Use ansible to setup generic remote appliance at $RTARGET"
ansible-playbook {{ ANSIBLEDIR }}/setup_appliance.yml -i $RTARGET, -e "RTARGET=$RTARGET WORKSHOP=$w APPMIN=$APPMIN APPMAX=$APPMAX LDAPSETUP=$LDAPSETUP -e PBKDIR={{ PBKDIR }} -e JUPPROC={{ JUPPROC }} -e LDAPDMN={{ LDAPDMN }} -e LDAPSRVNAME={{ LDAPSRVNAME }}"
if [ -f "{{ ANSIBLEDIR }}/setup_${w}_appliance.yml" ]; then
	echo "Use ansible to setup specificities for $w on remote appliance $RTARGET"
	ansible-playbook {{ ANSIBLEDIR }}/setup_${w}_appliance.yml -i $RTARGET, -e "RTARGET=$RTARGET WORKSHOP=$w APPMIN=$APPMIN APPMAX=$APPMAX LDAPSETUP=$LDAPSETUP -e PBKDIR={{ PBKDIR }} -e JUPPROC={{ JUPPROC }} -e LDAPDMN={{ LDAPDMN }} -e LDAPSRVNAME={{ LDAPSRVNAME }}"
fi

echo "Final script setup phase for $w on remote appliance $RTARGET"
exit 0
