#!/bin/bash

#set -x

echo "Prepare the spark container image"

NAME=sparklab

mkdir -p $HOME/$NAME
cd $HOME/$NAME

DCKBASE="jupyter/all-spark-notebook"

# Clean before
docker container prune -f
docker image prune -f
docker rmi $DCKBASE
docker pull $DCKBASE
