#!/bin/bash
#
# Script to be called to setup an appliance needed for a certain workshop
#
# (c) Bruno Cornec <bruno.cornec@hpe.com>, Hewlett Packard Development
# (c) Frederic Passeron <frederic.passeron@hpe.com>, Hewlett Packard Development
#
# Released under the GPLv2 License
#
set -e
#set -x

# Main of script
export w=$1
if [ _"$w" = _"" ]; then
	echo "Syntax: setup-appliance.sh WKSHP-Name"
	echo "WORKSHOP is mandatory"
	exit -1
fi
exec &> >(tee $HOME/.mail/setup-appliance-$w)

shift
echo "We are working on the setup of the $w appliance"

source {{ SCRIPTDIR }}/wod.sh
source {{ SCRIPTDIR }}/functions.sh
#
# Main part
#
# Variables declaration
#

# endpoint variable - Has to be global
echo "Prepare environment variables for Workshop $w at `date`"
export WODFEAPIURL={{ WODFEAPIURL }}
export WODFEAPIUSER={{ WODFEAPIUSER }}
export WODFEAPIPWD={{ WODFEAPIPWD }}
export accessToken=`get_session_token`
# If that doesn't fail, then export the workshop name
export wid=`get_workshop_id $w`
#export WKSHP=`echo $w | sed 's/WKSHP-//' | tr [a-z] [A-Z]`
export RTARGET=`grep IP-$w {{ ANSIBLEDIR }}/group_vars/{{ PBKDIR }} | cut -d: -f2 | sed 's/[ 	]*//'`
if [ _"$RTARGET" = _"" ]; then
	export RTARGET=`grep IP-$w {{ ANSIBLEPRIVDIR }}/group_vars/{{ PBKDIR }} | cut -d: -f2 | sed 's/[ 	]*//'`
	if [ _"$RTARGET" = _"" ]; then
		echo "Unable to find the RTARGET for $w"
		exit -1
	fi
fi
export APPMIN=`get_range_min $wid`
max=`get_range_max $wid`
export APPMAX=$(($max+1))

if [ -x "{{ SCRIPTDIR }}/setup-pre-$w.sh" ]; then
	echo "Setup Appliance for Workshop $w by executing {{ SCRIPTDIR }}/setup-pre-$w.sh at `date`"
	{{ SCRIPTDIR }}/setup-pre-$w.sh
	echo "End of Appliance pre setup for Workshop $w at `date`"
fi
if [ -x "{{ SCRIPTPRIVDIR }}/setup-pre-$w.sh" ]; then
	echo "Setup Appliance for private Workshop $w by executing {{ SCRIPTPRIVDIR }}/setup-pre-$w.sh at `date`"
	{{ SCRIPTPRIVDIR }}/setup-pre-$w.sh
	echo "End of Appliance pre setup for Workshop $w at `date`"
fi

echo "Setup Global Appliance for Workshop $w at `date`"
{{ SCRIPTDIR }}/setup-globalappliance.sh
echo "End of Global Appliance setup for Workshop $w at `date`"

if [ -x {{ SCRIPTPRIVDIR }}/setup-globalappliance.sh ]; then
	echo "Setup Global Appliance for private Workshop $w at `date`"
	{{ SCRIPTPRIVDIR }}/setup-globalappliance.sh
	echo "End of Global Appliance setup for private Workshop $w at `date`"
fi

if [ -x "{{ SCRIPTDIR }}/setup-$w.sh" ]; then
	echo "Setup Appliance for Workshop $w by executing remotely {{ SCRIPTDIR }}/setup-$w.sh at `date`"
	TMPDIR=/tmp/sa.$$
	ssh $RTARGET mkdir -p $TMPDIR
	scp {{ SCRIPTDIR }}/setup-$w.sh $RTARGET:$TMPDIR/
	ssh $RTARGET "$TMPDIR/setup-$w.sh"
	ssh $RTARGET rm -rf $TMPDIR
	echo "End of Appliance setup for Workshop $w at `date`"
fi

if [ -x "{{ SCRIPTPRIVDIR }}/setup-$w.sh" ]; then
	echo "Setup Appliance for private Workshop $w by executing remotely {{ SCRIPTPRIVDIR }}/setup-$w.sh at `date`"
	TMPDIR=/tmp/sa.$$
	ssh $RTARGET mkdir -p $TMPDIR
	scp {{ SCRIPTPRIVDIR }}/setup-$w.sh $RTARGET:$TMPDIR/
	ssh $RTARGET "$TMPDIR/setup-$w.sh"
	ssh $RTARGET rm -rf $TMPDIR
	echo "End of Appliance setup for private Workshop $w at `date`"
fi
