#!/bin/bash
#

ACTION=$1
if [ _"$1" = _"" ]; then
	echo "Syntax: test-action.sh <CREATE|CLEANUP|RESET|PDF|WORD> WKSHOP [MIN[,MAX]"
	echo "ACTION is mandatory"
	exit -1
fi
echo "we are working on "$ACTION
shift

WKSHP=$1
if [ _"$1" = _"" ]; then
	echo "Syntax: test-action.sh <CREATE|CLEANUP|RESET|PDF|WORD> WKSHOP [MIN[,MAX]"
	echo "WKSHP is mandatory"
	exit -1
fi
echo "we are working on "$ACTION
shift

STDRANGE=$1
if [ _"$STDRANGE" != _"" ]; then
	echo "Student range: "$STDRANGE
	STDMIN=`echo $STDRANGE | cut -d, -f1`
	STDMAX=`echo $STDRANGE | cut -d, -f2`
	if [ _"$STDMAX" = _"" ]; then
		STDMAX=$STDMIN
	fi
	if [ $STDMIN -gt $STDMAX ]; then
		echo "Syntax: test-action.sh <CREATE|CLEANUP|RESET> WKSHOP [MIN[,MAX]"
		echo "MIN should be lesser than MAX"
		exit -1
	fi
fi
shift


# Check action
if [ $ACTION != "CREATE" ]  && [ $ACTION != "CLEANUP" ]  && [ $ACTION != "RESET" ] && [ $ACTION != "PDF" ] && [ $ACTION != "WORD" ]; then
	echo "Syntax: test-action.sh <CREATE|CLEANUP|RESET|PDF|WORD> WKSHOP [MIN[,MAX]"
	echo "A correct ACTION is mandatory"
	exit -1
fi
i=$STDMIN
if [ $ACTION = "PDF" ]; then
	source "{{ JPHUB }}/bin/activate"
	for nb in /student/student$i/$WKSHP/*.ipynb; do
		jupyter nbconvert --to pdf $nb
	done
	chmod 644 /student/student$i/$WKSHP/*.pdf
	exit 0
fi
if [ $ACTION = "WORD" ]; then
	source "{{ JPHUB }}/bin/activate"
	for nb in /student/student$i/$WKSHP/*.ipynb; do
		nbo=`basename $nb .ipynb`
		jupyter nbconvert --execute --to=docx $nb --output $nbo.docx
	done
	chmod 644 /student/student$i/$WKSHP/*.docx
	exit 0
fi
while [ $i -le $STDMAX ]; do
	cat > /tmp/mail.$$ << EOF
MAIL FROM: hpedev.hackshack@hpe.com
RCPT TO: jupyter@`hostname`
DATA
Subject: $ACTION $i 0

$WKSHP
.
EOF
	echo "Sending a mail to $ACTION student $i for workshop $WKSHP"
	cat /tmp/mail.$$ | telnet localhost {{ POSTPORT }}
	((i=i+1))
done
rm -f /tmp/mail.$$
