#!/bin/bash
#

ACTION=$1
if [ _"$1" = _"" ]; then
	echo "Syntax: test-action.sh <CREATE|CLEANUP|RESET|PURGE|PDF|WORD> WKSHOP [MIN[,MAX]"
	echo "ACTION is mandatory"
	exit -1
fi
echo "Action: "$ACTION
shift

WKSHP=$1
if [ _"$1" = _"" ]; then
	echo "Syntax: test-action.sh <CREATE|CLEANUP|RESET|PURGE|PDF|WORD> WKSHOP [MIN[,MAX]"
	echo "WKSHP is mandatory"
	exit -1
fi
echo "We are working on "$WKSHP
shift

STDRANGE=$1
if [ _"$STDRANGE" != _"" ]; then
	echo "Student range: "$STDRANGE
	STDMIN=`echo $STDRANGE | cut -d, -f1`
	STDMAX=`echo $STDRANGE | cut -d, -f2`
	if [ _"$STDMAX" = _"" ]; then
		STDMAX=$STDMIN
	fi
	if [ $STDMIN -gt $STDMAX ]; then
		echo "Syntax: test-action.sh <CREATE|CLEANUP|RESET|PURGE> WKSHOP [MIN[,MAX]"
		echo "MIN should be lesser than MAX"
		exit -1
	fi
fi
shift


# Check action
if [ $ACTION != "CREATE" ]  && [ $ACTION != "CLEANUP" ]  && [ $ACTION != "RESET" ] && [ $ACTION != "PURGE" ] && [ $ACTION != "PDF" ] && [ $ACTION != "WORD" ]; then
	echo "Syntax: test-action.sh <CREATE|CLEANUP|RESET|PURGE|PDF|WORD> WKSHOP [MIN[,MAX]"
	echo "A correct ACTION is mandatory"
	exit -1
fi


# This function creates the mail to be sent
send_mail() {

	cat > /tmp/mail.$$ << EOF
MAIL FROM: hpedev.hackshack@hpe.com
RCPT TO: jupyter@`hostname`
DATA
Subject: $ACTION $1 0

$WKSHP
.
QUIT
EOF
	echo "Sending a mail to $ACTION student $1 for workshop $WKSHP"
	cat /tmp/mail.$$ | netcat localhost {{ POSTPORT }}
	rm -f /tmp/mail.$$
}


i=$STDMIN
if [ $ACTION = "PDF" ]; then
	source "{{ JPHUB }}/bin/activate"
	for nb in /student/student$i/$WKSHP/*.ipynb; do
		jupyter nbconvert --to pdf $nb
	done
	chmod 644 /student/student$i/$WKSHP/*.pdf
	exit 0
fi
if [ $ACTION = "WORD" ]; then
	source "{{ JPHUB }}/bin/activate"
	for nb in /student/student$i/$WKSHP/*.ipynb; do
		nbo=`basename $nb .ipynb`
		jupyter nbconvert --to=docx $nb --output $nbo.docx
	done
	chmod 644 /student/student$i/$WKSHP/*.docx
	exit 0
fi

# do we have a range
echo $STDRANGE | grep -q ','
if [ $? -eq 0 ]; then
	# Yes we do
	if [ $ACTION = "RESET" ]; then
		# For RESET we can use the range directly
		send_mail $STDRANGE
	else
		# For other actions we need to loop
		while [ $i -le $STDMAX ]; do
			send_mail $i
			((i=i+1))
		done
	fi
else
	send_mail $STDRANGE
fi
